:root {
    --black : #2d3436;
    --red : #d63031;
    --white: #ffffff;
    --day-color:  #eeedfb; 
    --night-color:  #2d3436; 
    --body-color-day :#f1f2f6 ;
    --body-color-night :#2d3436 ;
    --gray  : #ddd;
    --focus : #b0abfa;
    --select : #6c5ce7;
    --background-select : #bab5ff;
    --button : #8e44ad;
}


@font-face {
    font-family: 'Karla-Regular';
    src: url('/assets/fonts/static/Karla-Regular.ttf');
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla-Regular';
}

body {
    color: var(--black) ;
    max-width: 1000%;
    margin: auto;
    background-color: var(--body-color-day);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    transition: all ease-in .3s;
}


.contact-us {
    background-color: var(--day-color);
}