.title {
    display: flex;
    justify-content: space-between;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    --background: var(--button);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: var(--select);
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

.contact-us {
    height: auto;
    width: 900px;
    border-radius: 10px;
    padding: 40px 40px 40px 42px;
    box-shadow: -2px 7px 16px 5px var(--black);
}

.alert-success { 
    width: 500px;
    height: auto;
    background: var(--green);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: var(--white);
    position: absolute;
    top: 60px;
    left: 700px;
    display: none;
}

.alert-failed {
    width: 500px;
    height: auto;
    background: var(--red);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: var(--white);
    position: absolute;
    top: 60px;
    left: 700px;
    display: none;
}

h2 {
    margin-bottom: 20px;
}


.error {
    color: var(--red);
}

.label {
    margin-top: 25px;
}

.label::after {
    content: "*";
    color: var(--red);
    font-size: 1.2rem;
    margin-left: 10px;
}

.section {
    margin: 25px 0 25px 0;
}

.section-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-query {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}


.section-message {
    display: flex;
    flex-direction: column;
}

.first-name {
    width: 98%;
}

.last-name {
    width: 98%;
}

.input {
    width: 98%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 0 15px 0 15px;
    font-size: 1.1rem;
    margin: 7px 0 0 0;
}


.input:focus {
    border: 1px solid var(--focus);
    outline: none;
}

.input-add {
    border: 1px solid var(--red);
    outline: none;
}

.email {
    width: 100%;
    display: block;
}

.radio-input {
    background-color: var(--white);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    width: 96%;
    height: 40px;
    border: 1px solid var(--gray);
    margin: 7px 0 0 0;
}

.radio-input-add {
    border: 1px solid var(--red);
}

.alert {
    color: var(--red);
    font-weight: bold;
}

.radio-input input[type=radio] {
    display: none;
}

.radio-input input[type=radio]+label {
    color: var(--black);
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.radio-input input[type=radio]+label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--black);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
}

.radio-input input[type=radio]#color-1+label span {
    background-color: var(--white);
}

.radio-input input[type=radio]#color-2+label span {
    background-color: var(--white);
}


.radio-input:has(input[type=radio]#color-1:checked) {
    background-color: var(--background-select);
}

.radio-input:has(input[type=radio]#color-2:checked) {
    background-color: var(--background-select);
}

.radio-input input[type=radio]+label span svg {
    opacity: 0;
    transition: all 0.3s ease;
}

.radio-input input[type=radio]:checked+label span svg {
    opacity: 1;
}


.input-group.success input {
    border-color: #0cc477;
}

.input-group.error input {
    border-color: rgb(206, 67, 67);
}

.input-group.success textarea {
    border-color: #0cc477;
}

.input-group.error textarea {
    border-color: rgb(206, 67, 67);
}

textarea {
    width: 98%;
    height: 150px;
    resize: none;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 15px 15px 15px 15px;
    font-size: 1.1rem;
    margin: 7px 0 0 0;
}

textarea:focus {
    border: 1px solid var(--focus);
    outline: none;
}

.input-check {
    margin-right: 15px;
}

button {
    width: 98%;
    height: 60px;
    font-size: 1.1rem;
    font-weight: bold;
    background: var(--button);
    color: var(--white);
    border: none;
    border-radius: 10px;
    transition: all ease-in .3s;
    margin-top: 15px;
}

button:hover {
    opacity: .8;
}


.accept {
    position: relative;
}


.accept label {
    position: absolute;
    top: 0;
    left: 35px;
}